@font-face {
  font-family: "Comfortaa"; 
  src: url("src/content/fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico"; 
  src: url("src/content/fonts/Pacifico-Regular.ttf") format("truetype");
}

:root {
  --text-font: "Comfortaa", sans-serif;
  --text-color: #FFFFFF;
}

/* Убираем отступы браузера */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden; /* запрет прокрутки */
  font-family: var(--text-font);

  cursor: url('src/content/images/cursor.png'), auto;

}

a,
a:hover,
a:active {
  cursor: url('src/content/images/pointer.png'), auto;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(95vw, 1600px);
  height: min(90vh, 825px);
  padding: 3px;
  border-radius: 33px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.glass-window {
  backdrop-filter: blur(10px);               /* размывает фон позади */
  -webkit-backdrop-filter: blur(10px);       /* для Safari */
}

.control-bar {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.control-bar {
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.7s ease;
}

.control-bar:hover {
  transform: scale(1.05);
}

.control-bar:hover .green {
  background-image: url('src/content/images/green_symbol.png');
}

.control-bar:hover .yellow {
  background-image: url('src/content/images/yellow_symbol.png');
}

.control-bar:hover .red {
  background-image: url('src/content/images/red_symbol.png');
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.control-bar-buttons {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.control-bar-buttons li a {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.7s ease;
}

/* Эффект при наведении */
.control-bar-buttons li a:hover {
  transform: scale(1.15);
}

/* Иконки */
a.red {
  background-image: url('src/content/images/red.png');
}

a.yellow {
  background-image: url('src/content/images/yellow.png');
}

a.green {
  background-image: url('src/content/images/green.png');
}

.divider-line {
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 32%; /* вместо фиксированных 510px */
}

.about-content {
  position: absolute;
  top: 100px;
  left: 16%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar {
  width: 400px;
  border: 5px solid rgba(255, 255, 255, 0.1); /* Толщина, тип линии, цвет */
  border-radius: 180%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nickname {
  font-family: "Pacifico", sans-serif;
  font-style: italic;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  color: rgba(177, 99, 192, 0.4);
  /*text-shadow: 0 0px 5px rgba(238, 215, 243, 0.8);*/
  text-stroke: 0.5px rgba(238, 215, 243, 0.4); /* Для других браузеров */
  -webkit-text-stroke: 0.5px rgba(238, 215, 243, 0.4); /* Обводка толщиной 2px, черного цвета */
}

.description {
  font-size: 25px;
  line-height: 1.4;
  margin-top: 10px;
}

.links-bar {
  --links-bar-width: 260px;
  --links-bar-height: 70px;

  margin-top: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--links-bar-width);
  height: var(--links-bar-height);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.links-bar {
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.7s ease;
}

.links-bar:hover {
  transform: scale(1.05);
}

.links-bar-buttons li a {
  --links-bar-buttons-properties: 50px;
  display: block;
  width: var(--links-bar-buttons-properties);
  height: var(--links-bar-buttons-properties);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.7s ease;
}

.links-bar-buttons li a:hover{
  transform: scale(1.05);
}

.links-bar-buttons {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Иконки */
a.github {
  background-image: url('src/content/images/github.png');
} 

a.discord {
  background-image: url('src/content/images/discord.png');
}

a.music {
  background-image: url('src/content/images/music.png');
}

a.email {
  background-image: url('src/content/images/email.png');
}

.projects-panel {
  position: absolute;
  top: 50px;
  left: 35%;
  right: 2%;
  bottom: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.projects-panel::-webkit-scrollbar {
  width: 6px;
}

.projects-panel::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02)
}

.project-info {
  max-width: 70%;
  color: #ffffff;
  font-family: var(--text-font);
}

.project-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: rgba(255,255,255,0.9);
}

.project-info p {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255,255,255,0.8);
}

.project-preview {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

@media (max-width: 1560px) {
  .about-content {
    top: clamp(90px, 4vw, 120px);
  }
  .avatar {
    width: clamp(370px, 4vw, 390px);
  }
  .nickname {
    font-size: clamp(45px, 4vw, 50px);
  }
  .links-bar {
    width: calc(var(--links-bar-width) - 40px);
    height: calc(var(--links-bar-height) - 10px);
  }
  .links-bar-buttons li a {
    width: calc(var(--links-bar-buttons-properties) - 10px);
    height: calc(var(--links-bar-buttons-properties) - 10px);
  }
}

@media (max-width: 1460px) {
  .about-content {
    top: clamp(70px, 4vw, 90px);
  }
  .avatar {
    width: clamp(330px, 4vw, 350px);
  }
  .nickname {
    font-size: clamp(40px, 4vw, 45px);
  }
  .links-bar {
    width: calc(var(--links-bar-width) - 40px);
    height: calc(var(--links-bar-height) - 10px);
  }
  .links-bar-buttons li a {
    width: calc(var(--links-bar-buttons-properties) - 10px);
    height: calc(var(--links-bar-buttons-properties) - 10px);
  }
}

@media (max-width: 1360px) {
  .about-content {
    top: clamp(50px, 4vw, 70px);
  }
  .avatar {
    width: clamp(310px, 4vw, 330px);
  }
  .nickname {
    font-size: clamp(35px, 4vw, 40px);
  }
  .links-bar {
    width: calc(var(--links-bar-width) - 80px);
    height: calc(var(--links-bar-height) - 20px);
  }
  .links-bar-buttons li a {
    width: calc(var(--links-bar-buttons-properties) - 20px);
    height: calc(var(--links-bar-buttons-properties) - 20px);
  } 
}

@media (max-width: 1160px) {
  .nickname {
    font-size: clamp(30px, 4vw, 35px);
  }
}

@media (max-width: 992px) {
  .avatar {
    width: clamp(220px, 4vw, 290px);
  }
  .nickname {
    font-size: clamp(25px, 4vw, 30px);
  }
}

@media (max-width: 720px) {
  .avatar {
    width: 260px;
  }
  .nickname {
    font-size: clamp(20px, 4vw, 25px);
  }
}

@media (max-width: 680px) {
  .window {
    position: absolute;
    width: 95%;
    height: min(90vh, 1900px);
  }


  .about-content {
    top: 20%;
    left: 230px;
    transform: translateY(-50%);
  }

  .avatar {
    width: 450px;
  }

  .nickname {
    font-size: 60px;
  }

  .divider-line {
    width: 100%;
    height: 3px;
    top: 40%;
    left: 0;
  }

  .projects-panel {
    top: 41%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .window {
    position: absolute;
    width: 95%;
    height: min(90vh, 1900px);
  }

  .content {
    justify-content: center;
  }

  .about-content {
    top: 34%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
  }

  .avatar { 
    width: 180px;
  }

  .nickname {
    font-size: 35px;
  }

  .description {
    font-size: 25px;
  }

  .links-bar {
    margin-top: 0;
  }

  .control-bar {
    border: 0;
  }

  .divider-line {
    width: 100%;
    height: 3px;
    top: 56%;
    left: 0;
  }

  .projects-panel {
    top: 56%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 440px) {
  .window {
    position: absolute;
    width: 95%;
    height: min(90vh, 1000);
  }

  .control-bar {
    width: 11110px;
    height: 50px;
  }

  .control-bar-buttons li a {
    width: 14px;
    height: 14px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -khtml-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    height: 100%;
  }

  .about-content {
    top: 38%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
  }

  .avatar { 
    width: 150px;
  }

  .nickname {
    font-size: 30px;
  }

  .description {
    font-size: 20px;
  }

  .links-bar {
    margin-top: 0;
  }

  .control-bar {
    border: 0;
  }

  .divider-line {
    width: 100%;
    height: 3px;
    top: 56%;
    left: 0;
  }

  .projects-panel {
    top: 56%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
